<div class='container'>
  <h1> Its Private! </h1>
  <%= link_to 'Home', events_path %>

  <% if !@current_user.nil? %>
    <h2>Welcome, <%= @current_user.name %> &#9786; </h2>
    <%= link_to 'User', user_path(@current_user.id) %>
    <%= link_to 'Sign out', session_path(@current_user), method: :delete %>
  <% end %>

  <% flash.each do |error,message| %>
    <%= message %>
  <%end%>

</div>
